
body {
    font-family: Arial, "sans-serif";
    font-size: medium;
}


a {
    color: dodgerblue;
    text-decoration: none;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #04AA6D;
}

#content {
    margin: 1vw 2vw;
}

form.search {
    width: 100%;
}
form.search input {
    width: 200px;
}
form.search input#search {
    width: 100%;
}
form.search input[type=submit] {
    width: 100px;
}

ul.filters {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.patents {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.patent {
    padding: 2vw;
    width: 45%;
    overflow-wrap: break-word;
}
@media (max-width: 750px) {
    .patents {
        display: block;
    }
    .patent {
        width: auto;
        padding: 0;
    }
}

.patent .vote a {
    padding: 10px;
}

.patent .vote a.relevant {
    color: green;
}
.patent .vote a.irrelevant {
    color: red;
}
.patent .vote a.relevant:hover {
    background-color: lightgreen;
}
.patent .vote a.irrelevant:hover {
    background-color: lightcoral;
}
.patent .vote a.relevant.active {
    background-color: lightgreen;
}
.patent .vote a.irrelevant.active {
    background-color: lightcoral;
}
.patent .vote a.inactive {
    color: grey;
}

.patent .details {
    margin-top: 20px;
}

.patent .details div {
    margin: 1px 3px;
    padding: 1px 4px;
    background-color: azure;
}

ul.pager {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.pager li {
    color: black;
}
ul.pager li a {
    color: inherit;
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px;
}
ul.pager li.disabled {
    color: lightgrey;
}


table {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}
th {
    background-color: #eee;
}


table.assignees {
    min-width: 600px;
    table-layout: fixed;
    font-size: .9em;
}
table.assignees tr:nth-child(odd) {
    background-color: whitesmoke;
}
table.assignees tr.first {
    border-top: 3px solid lightgrey;
}
table.assignees td.family {
    background-color: white;
}
table.assignees th {
    width: 20.75%;
}
table.assignees th:first-child {
    width: 6%;
}
table.assignees th:last-child {
    width: 11%;
}
/*table.assignees th.long {*/
/*    width: 27%;*/
/*}*/
table.assignees td input {
    width: 90%;
    min-width: 100px;
}
table.assignees td input.disabled {
    display: none;
}

div.cleansing-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
div.cleansing-controls form {
    flex: 0;
}
div.cleansing-controls a {
    padding: 10px 20px;
    flex: 1;
}
div.cleansing-controls .right {
    text-align: right;
}



#footer {
    text-align: center;
    margin-top: 60vh;
}

