{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="">
{% endblock %}
{% block content %}
    <div>
        <h2>Import Your Data</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Import">
        </form>
    </div>
    <br/><br/><br/><br/>
    <div>
        <h2>Clear data</h2>
        <p><a href="{{ url_for('admin.clear_data') }}" style="color: red;">Clear all data for this user</a></p>
    </div>
    <br/><br/><br/><br/>
    <div>
        <h2>Logout</h2>
        <p><a href="{{ url_for('auth.logout') }}">Logout user</a></p>
        {% if is_admin %}
            <p><a href="{{ url_for('admin.logout') }}">Logout admin</a></p>
        {% endif %}
    </div>
{% endblock %}
