<!doctype html>
<html>
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>{% block title %}{% endblock %} - MDB Report Helper</title>
        {% endblock %}
    </head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">MDB Report Helper</a></li>
            <li><a href="{{ url_for('cleansing') }}">Cleansing</a></li>
            <li><a href="{{ url_for('exports') }}">Export</a></li>
            <li style="float:right"><a href="{{ url_for('admin') }}">Admin</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <p>The source code for this project is available on
            <a href="https://github.com/puffyboa/mdb-report-helper">Github</a></p>
        <p></p>
        {% block footer %}{% endblock %}
    </div>
</body>
</html>